p{
  font-family: Arial; 
}

.logo{
  width: 120px;
  height: 100px; 
}

.title{
  text-align: center;
  font-weight: bold; 
}

.cart{
  text-align: center;  
  margin-bottom: 50px; 
}

.description{
  text-align: center; 
}

.product-photo{
  width: 120px; 
  height: 125px; 
  display: block; 
  margin-right: auto; 
  margin-left: auto; 
}

.roll-name{
  font-size: 10px; 
  text-decoration: underline; 
  width: 120px; 
  margin-right: auto;
  margin-left: auto; 
  margin-bottom: 0; 
}

.roll-price{
  font-size: 10px; 
  width: 120px; 
  margin-right: auto;
  margin-left: auto; 
  margin-top: 0; 
}

